Screen {
    align: center middle;
    padding: 2;
}

Label {
    color: green;
}

Input {
    color: lightgreen;
    background: black;
    border: round darkgreen;
}

.boton-principal {
    background: green;
    color: black;
    border: round green;
}

#salida {
    color: yellow;
    padding-top: 1;
}
